# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
ENV/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.html
*.js
*.json
!vercel.json
!pubspec.json
!backend/static/**
